<div class="body" id = "body">
  <div class="vtool_bar">
    <div>
    <button id="machine" value="circle" (click)="createMachine();disableButtons()"> <img src= "assets/icons/node.png" width = 50px length = 50px /></button>
    </div>

    <div>
      <button id="line" value="line" (click) = "createLine();disableButtons()"> <img src= "assets/icons/direction.png" width = 45px length = 45px /> </button>
    </div>
    <div>
      <button type="button" id="run" value="run" (click)="run()" > <img src= "assets/icons/work-process.png" width = 45px length = 45px /> </button>
    </div>
    <!-- <div>
      <button type="button" id="stop" value="stop" (click)="stop()"> <img src= "assets/icons/stop.png" width = 45px length = 45px /> </button>
    </div> -->
    <!-- <div>
      <button type="button" id="replay" value="replay" (click)="replay()" > <img src= "assets/icons/replay.png" width = 55px length = 55px /> </button>
    </div> -->
    <div>
      <button type="button" id="clear" value="clear" (click)="clearAll()" > <img src= "assets/icons/eraser-icon.png" width = 35px length = 35px /> </button>
    </div>
  </div>


  <canvas id="board" width="1355" height="650" style="border:3px solid transparent"></canvas>

</div>

